/* STANDARD ELEMENTS
 * ******************/

::-webkit-scrollbar {
   width: 12px;
}
 
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.4); 
   border-radius: 20px;
}
 
::-webkit-scrollbar-thumb {
	width: 7px;
   border-radius: 20px;
   -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.60); 
}

/* ON HOVER ELEMENTS(SCROLLBAR TRACK)
***************************************/

::-webkit-scrollbar-track:hover {
   background-color: rgba(183,183,183,0.1); 
   border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	width: 4px;
   border-radius: 20px;
   -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.50);  
   }

/*#Custom Scroll bar end*/


body {
	margin:50px;
	margin-top: 0px;
	margin-left: 10%;
	margin-right: 10%;
	margin: 0 auto;
}

#mHead {
	float:center;
	padding-top: 10px ;
	padding-bottom: 10px ;
	padding-left: 0px;
	font-size:60px;
	text-align: center;
	font-weight: bold;
	margin: 0;
	background: #9575CD;
	border-top: 1px solid #9575CD;
	border-bottom: 1px solid #7E57C2;
}

#head_logo {
	float:left;
	padding-left:20px;
	position: static;
	padding-top: +5.5px;
}

#mSubHead-container {
	font-style: italic;
	font-size: 28px;
	background: #B39DDB;
	margin: 0 auto;
	padding: 0;
	text-align: right;
	padding: 10px;
	padding-right: 110px;
	border-bottom: 1px solid #D1C4E9;
}

#preBody {
	padding:30px;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-right: 10%;
	padding-left: 10%;
	margin: 5px auto;
	text-align: center;
}

#mBody {
	margin:30px;
	margin-top: 60px;
	margin-right: 10%;
	margin-left: 10%;
	margin: 5px auto;
	text-align: center;
}

#mBody-head {
	font-size: 60px;
	font-weight: bold;
	font-style: italic;
	padding: 50px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 0px;
	margin: 0 auto;
}

#downloadWrapper {
	width: 900px;
	text-align: center;
	margin:0 auto;
}

dt {
	cursor: pointer;
	font-weight: bold;
	font-size: 22px;
	background: transparent;
	text-align: center;
	border-bottom: 1px solid #c5c5c5;
	border-top: 1px solid white;
	padding: 15px;
	color:black;

	/*http://designshack.net/articles/css/mastering-mouse-enter-and-exit-events-with-css-transitions/*/
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
}

dt:hover {
	color:#9575CD;

	/*http://designshack.net/articles/css/mastering-mouse-enter-and-exit-events-with-css-transitions/*/
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition:0.50s;
}

dd {
	margin: 0;
	padding: 10px;
	text-align: center;

}

.dt_marker {
	height: 30px ;
	width: 40px ;
	margin:0;
	padding: 0;
	float:left;
	background: black;
	/*http://designshack.net/articles/css/mastering-mouse-enter-and-exit-events-with-css-transitions/*/
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
}

dt:hover > .dt_marker {
	background:#9575CD;

	/*http://designshack.net/articles/css/mastering-mouse-enter-and-exit-events-with-css-transitions/*/
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;

		transition:0.50s;
}

.hide {display:none;}
a {
  color: #fff;
  text-decoration: none;
}

.social {
  position: fixed;
  top: 300px;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../preloader.gif) center no-repeat #fff;
}s